<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8 gb2312">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的申请列表</title>
    <link rel='stylesheet' href='/sqxttestwx/sq/lib/layui/css/layui.css' />
    <link rel='stylesheet' href='/sqxttestwx/sq/lib/font-awesome/css/font-awesome.min.css' />
    <link rel="stylesheet" href="/sqxttestwx/sq/lib/iconFont/css/iconfont.css" />
    <link rel='stylesheet' href='/sqxttestwx/sq/stylesheets/common.css' />
    <link rel='stylesheet' href='/sqxttestwx/sq/stylesheets/check/checkUser.css' />
</head>
<body>
    <!--<h1>我的申请列表<i class="layui-icon add">&#xe608;</i></h1>-->
    <div class="sq-add">
        <i class="layui-icon add">&#xe654;</i>
    </div>
    <!--滑动导航筛选-->
    <div class="layui-tab">
        <ul class="layui-tab-title sq-scroll-title">
            <li class="layui-this">全部</li>
            <li>待审核</li>
            <li>审核成功</li>
            <li>不予办理</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show" id="cs">
                <!--全部-->
                <div class="sq-check-msg sq-all">


                </div>

            </div>
            <div class="layui-tab-item">
                <!--待审核-->
                <div class="sq-check-msg sq-wait">

                </div>
            </div>
            <div class="layui-tab-item">
                <!--审核完成-->
                <div class="sq-check-msg sq-end">

                </div>
            </div>
            <div class="layui-tab-item">
                <!--不予办理-->
                <div class="sq-check-msg sq-not">

                </div>
            </div>
        </div>
    </div>


    <p class="loader sq-hide"><span><i class="layui-icon">&#xe63d;</i></span>正在加载...</p>
    <!--底部导航-->
    <div class="sq-tab-bar sq-check-bar">
        <ul>
            <li><a class="active" href="javascript:;"><i class="iconfont icon-icon-test bold"></i>申请</a></li>
            <li><a href="/sqxttestwx/sq/checkUser"><i class="iconfont icon-icon bold"></i>用户审核</a></li>
            <li><a href="/sqxttestwx/sq/checkApplyMsg"><i class="iconfont icon-shenhe bold"></i>授权审核</a></li>
            <li><a href="/sqxttestwx/sq/mine"><i class="iconfont icon-wode"></i>我的</a></li>
        </ul>
    </div>

<script id="userTpl" type="text/html">
    {{each data v i}}
    <a class="clear" href="/sqxttestwx/sq/userHistoryDetails?id={{v['index']}}">
        <div class="sq-check-img">
            <i class="fa fa-windows" aria-hidden="true"></i>
        </div>
        <div class="sq-check">
            <div class="sq-check-con clear">
                <div class="sq-check-type">
                    {{if v['sqlx'] == 1}}
                    <p class="sq-name">单机授权</p>
                    {{else if v['sqlx'] == 2}}
                    <p class="sq-name">服务器授权</p>
                    {{/if}}
                </div>
            </div>
            <div class="sq-check-con clear">
                <span>产品名称：</span>
                <div class="sq-check-main">
                    <p class="sq-company">{{v['cpmc']}}</p>
                </div>
            </div>
            <div class="sq-check-con clear">
                <span>审核状态：</span>
                <div class="sq-check-main">
                    {{if v['shzt'] == '审核完成' || v['shzt'] == '在线授权成功'}}
                    <p class="sq-green">{{v['shzt']}}</p>
                    {{else if v['shzt'] == '不予办理' || v['shzt'] == '在线授权失败'}}
                    <p class="sq-red">{{v['shzt']}}</p>
                    {{else}}
                    <p class="sq-state">{{v['shzt']}}</p>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="sq-check-icon">
            <i class="layui-icon">&#xe602;</i>
        </div>

    </a>
    {{/each}}
</script>
</body>
<script src="/sqxttestwx/sq/lib/layui/layui.js"></script>
<script src="/sqxttestwx/sq/lib/artTemplate/template-web.js"></script>
<script src="/sqxttestwx/sq/javascripts/common.js"></script>
<script src="/sqxttestwx/sq/javascripts/application/applicationList.js"></script>
</html>